.DS_Store
not-used.yml
pieces of state machine.txt
.vscode/settings.json
audio-text/samconfig.toml
common/samconfig.toml
make-video/.env
make-video/samconfig.toml
transcribe/samconfig.toml
translate/samconfig.toml
examples/
get-video-audio/src/node_modules/
get-video-audio/samconfig.toml
get-video-audio/src/package-lock.json
generate-description/samconfig.toml
